/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic);*/

.navbar-wrapper {
    margin-top: 10px;
}

.navbar-wrapper .navbar-static-top {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#megaimage {
    text-align: center;
}

#megaimage > img {
    height: auto;
    width: 100%;
}

body {
    padding-top: 100px;
}
